/* LAYOUT */
*{ 
    margin:0; 
    padding: 10px;
    outline: 0;
    
    transition:0.3s; 
    font-size:2.5vh;
    font-family: cursive;

    --c1:#000; 
    --c2:#444; 
    --c3:#888; 
    --c4:#ccc; 
    --c5:#fff; 
    --st:#50505050; 

    color:var(--c1); 
}
html,body{ 
    padding: 0; 
    margin: 0;
    background:var(--c1);
}
#page{
    min-height: 100vh;
    padding: 0;
}

#navbar{
    padding:5px 10px;
    position: sticky; top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--c3);
}
    #navbar>*{
        padding: 0;

        display: flex;
        gap: 10px;
    }

#content{
    min-height: 100vh;
    
    background-image: url(https://img.freepik.com/vettori-gratuito/sfondo-di-carta-a-righe-blu-disegnato-a-mano_23-2151157572.jpg?t=st=1716795357~exp=1716798957~hmac=47fb254f2773c249e265ac9def705d42ddd1935fa42222b70636e414b4328c58&w=996);
    background-position:center,center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
}



 /* TODO componenti */
 
 h1{ font-size: 6vh; }
h2{ font-size: 5vh; }
h3{ font-size: 4vh; }
h4{ font-size: 3vh; }
h5{ font-size: 2vh; }
h6{ font-size: 1vh; }

input{
    margin: 5px;
    max-width: 100px;
    background:#202020;
    color: #dadada;
    border: 1px solid;
    border-radius: 10px;
}
button{
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    border: 0;
}
button:hover{
    background: var(--c5);
}


ul,ol{
    padding-left: 20px;
}
a{
    cursor: pointer;
}

/* TODO bands */
.bandComponent td{
    background: black;
}

 /* TODO ORDINATIONPAGE */
#ordinationLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#ordinationLayout>div{
    display: flex;
    flex-direction: column;
}