/* LAYOUT */
*{ 
    margin:0; 
    padding: 5px;
    outline: 0;
    
    transition:0.3s; 
    font-size:2.5vh;
    --sfondo:#20202080; 
    --tema:#00ff00; 

    background:var(--sfondo);
    color:var(--tema); 
}
html,body{ 
    min-height: 100vh;
    padding: 0; 
}
nav{
    display: flex;
    justify-content: space-between;
}


 /* TODO ORDINATIONPAGE */
#ordinationLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#ordinationLayout>div{
    display: flex;
    flex-direction: column;
}


 /* TODO componenti */

h1{ font-size: 6vh; }
h2{ font-size: 5vh; }
h3{ font-size: 4vh; }
h4{ font-size: 3vh; }
h5{ font-size: 2vh; }
h6{ font-size: 1vh; }

input{
    margin: 5px;
    max-width: 100px;
    background:#202020;
    color: #dadada;
    border: 1px solid;
    border-radius: 10px;
}
button{
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
ul,ol{
    padding-left: 20px;
}
a{
    cursor: pointer;
}

 /* TODO bands */
.bandComponent td{
    background: black;
}