/* LAYOUT */
*{ 
    margin:0; 
    padding: 5px;
    outline: 0;
    
    transition:0.3s; 
    font-size:100%;
    --sfondo:#20202080; 
    --tema:#00ff00; 
    --larghezza:1000px;

    background:var(--sfondo);
    color:var(--tema); 
}
html,body{ 
    min-height: 100vh;
    padding: 0; 
}
body>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
    aside{
        width: 30%;
        display: flex;
        flex-direction: column;
    }
    router{
        width: 100%;
    }

body#homePage>nav button#homePage,
body#ordinations>nav button#ordinations,
body#howToArray>nav button#howToArray
{ color: #dadada; }


 /* TODO ORDINATIONPAGE */
#ordinationLayout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
#ordinationLayout>div{
    display: flex;
    flex-direction: column;
}


 /* TODO componenti */
input{
    margin: 5px;
    max-width: 100px;
    background:#202020;
    color: #dadada;
    border: 1px solid;
    border-radius: 10px;
}
button{
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
ul,ol{
    padding-left: 20px;
}
a{
    cursor: pointer;
}